.banner {
  width: 100%;
}
.farm_with_friends {
  height: 460px;
  margin-top: 80px;
  width: 680px;
}
.farm_with_friends {
  display: flex;
}
.hr {
  margin-top: 100px;
  margin-bottom: 100px;
}
.hayday_bar {
  width: 60%;
  margin-left: 160px;
  margin-top: -20px;
}
.hayday_man {
  height: 320px;
}
.container {
  position: relative;
}
.hayday_banner2 {
  width: 100%;
  margin-top: 90px;
  height: 90vh;
  position: absolute;
}
.banner2_overlap {
  height: 60vh;
  width: 45%;
  position: absolute;
  margin-top: 190px;
}
.title {
  position: absolute;
  margin-top: 340px;
  margin-left: 750px;
  color: white;
}
.desc {
  width: 35%;
  color: white;
  position: absolute;
  margin-top: 440px;
  margin-left: 750px;
  font-size: 20px;
}
.follow {
  position: absolute;
  margin-top: 590px;
  margin-left: 750px;
  color: white;
  font-size: 15px;
}
.connect_icons {
  display: flex;
  align-items: center;
}
.reddit_icon {
  color: white;
  position: absolute;
  margin-top: 620px;
  margin-left: 750px;
  font-size: 35px !important;
}
.youtube_icon {
  color: white;
  position: absolute;
  margin-top: 620px;
  margin-left: 800px;
  font-size: 35px !important;
}
.facebook_icon {
  color: white;
  position: absolute;
  margin-top: 620px;
  margin-left: 850px;
  font-size: 35px !important;
}
.instagram_icon {
  color: white;
  position: absolute;
  margin-top: 620px;
  margin-left: 900px;
  font-size: 35px !important;
}
.twitter_icon {
  color: white;
  position: absolute;
  margin-top: 620px;
  margin-left: 950px;
  font-size: 35px !important;
}

.video_container {
  /* margin-left: 100px; */
  margin-top: 800px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 100px;
}
